h {
    color: #000000;
    }
    
div.a {
    text-align: center;
}
 
div.b {
    text-align: center;
}

img {
    width:100px;
    height:31px;
 }

 p.one {
    border-style: solid;
    border-color: black;
    border-top-color: white;
  }
      
  
  